# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/OPTS.h
/model_runs/Sod_1314/FSM2
/model_runs/Sod_1314/Sod_1314_ave
/model_runs/Sod_1314/Sod_1314_dump
/model_runs/Sod_1314/Sod_1314_runinfo
/model_runs/Sod_1314/Sod_1314_smp
